* {
  bg0     : #1a1721;
  bg1     : #14111b;
  bg2     : #302a3a;
  bg3     : #4d465a;
  fg0     : #d0cbd8;
  fg1     : #bdb8cb;
  fg2     : #928da0;
  red     : #e87b97;
  green   : #7cc9a0;
  yellow  : #d9b464;
  blue    : #7ba5dd;
  magenta : #c48ad5;
  cyan    : #57bfb5;

  accent: @magenta;
  urgent: @yellow;
}
